<form action="" method="get">
    <div >
        @foreach (Categoria c in @ViewBag.Categorias)
        {
            <h1>@c</h1>
        }
        <input  type="radio" name="categoria" value="-1"  > 
            
    </div>
    <div>
        @foreach (Dificultad d in @ViewBag.Dificultades)
        {
         <h1>@d</h1>
        }
    <input  type="radio" name="dificultad" value="-1">

    </div>
    
</form>
