@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<small class="text-muted"><a href='@Url.Action("ConfigurarJuego", "Home", new {idPartido=@ViewBag.DatosCandidato.idPartido})'><button>ver Partido del candidato</button></a></small> 
</div>
